* {
	margin: 0;
  	padding: 0;
}
body {
  	color: #e69900;
  	font-size: 22px;
  	font-family: 'Bree Serif';
  	background-image: url(../res/images/road.jpeg);
  	background-size: cover;
}
.container {
	position: absolute;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width: 25%;
	height: 400px;
	font-size: 16px;
	background: #fff;
	border: 2px solid #fff;
	box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
	border-radius: 6px;
}
.forget_form {
	padding: 20px 40px;
	background: #fff;
	box-sizing: border-box;
}
.change_form {
	width: 100%;
	padding: 20px 40px;
	background: #fff;
	box-sizing: border-box;
}
.change_form h2, .forget_form h2 {
	margin-top: 0px;
	margin-bottom: 20px; 
	text-align: center;
}
.change_form p, .forget_form p {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #e69900;
}
.change_form input, .forget_form input {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
}
.change_form input[type="Password"], .forget_form input[type="Date"], .forget_form input[type="Email"] {
	height: 30px;
	border: none;
	outline: none;
	border-bottom: 2px solid #D9E26E;
}
.change_form input[type="Password"]:focus, .forget_form input[type="Date"]:focus, .forget_form input[type="Email"]:focus {
	border-bottom: 2px solid #e69900;
}
.change_form input[type="submit"], .forget_form input[type="submit"] {
	color: #fff;
	height: 40px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #a6af13;
}
.change_form input[type="submit"]:hover, .forget_form input[type="submit"]:hover {
	background: #e69900;
}
.change_form a, .forget_form a {
	color: #A6AF13;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
.change_form a:hover, .forget_form a:hover{
	font-size: 150%;
	color: #e69900;
}
.extra_link {
	color: #000 !important;
	font-size: 12px;
	margin-top: 10px !important;
	text-align: center;
}
#extra_link_register {
	color: #000;
	text-align: center;
	margin-top: 5px;
}
@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  .container {
    width: 75%;
  }
}